<div class="container-fluid">
  <div class="row">
    <div class="jumbotron hero-unit darken text-center">
      <h1>Track your vacation days</h1>
      <h2>
        Use this app to submit requests for vacation and track how many days you have left.
      </h2>
      <h3>
        #TeamTallience - Thank you for all your hard work and dedication.
      </h3>
      <%=  link_to "Log in", new_user_session_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
