<h1 class="text-center">Track your time off</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>User Name</p>
      </div>
      <div class="col-md-6">
        <p>Vacation time</p>
      </div>
    </div>
  </div>
</div>
